# Variables we want to keep secret.
SQLALCHEMY_DATABASE_URI='mysql+mysqlconnector://auth_service:aa201544@localhost/auth'
PORT=3306
SECRET_KEY='secretkey'
JWT_SECRET_KEY='secretkey'
JWT_ALGORITHM='HS512'
JWT_TOKEN_LOCATION='json'
REDIS_URL='redis://localhost:6379/0'